.custom-input {
  position: relative;
  width: 100%;
  font-family: var(--font-family-sans);
  min-height: 3.5rem;
}

/* Inputs y selects */
.custom-input input,
.custom-input select {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1.35rem 0.75rem 0.25rem 1.5rem;
  border: 1px solid var(--text-light);
  border-radius: var(--border-radius-sm);
  font-size: var(--font-size-base);
  background-color: var(--surface);
  margin: 0px;
  color: var(--text);
  outline: none;
  appearance: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}
.custom-input select {
  line-height: 1.2; /* Alinea mejor con el label */
  background-image: url("data:image/svg+xml;utf8,<svg ...></svg>");
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  background-size: 1rem;
}

.custom-input input:focus,
.custom-input select:focus {
  border-color: var(--primary);
  box-shadow: 0 0 0 3px rgba(79, 70, 229, 0.25);
}

.custom-input label {
  position: absolute;
  left: 0px;
  top: 0.75rem;
  padding-left: 0.75rem;
  font-size: var(--font-size-base);
  font-family: var(--font-family-mono);
  color: var(--text-light);
  pointer-events: none;
  transition: all 0.2s ease-out;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90%;
}

.custom-input label.active {
  top: 0.35rem;
  font-size: var(--font-size-xsm);
  color: var(--primary);
  padding: 0 0.25rem;
  padding-left: 0.65rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.custom-input .error {
  position: absolute;
  color: var(--danger);
  font-size: var(--font-size-xsm);
  margin-top: -0.25rem;
  padding: 0 1rem;
  width: 100%;
  text-align: right;
}
